
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Petemoss&display=swap');
*{
    margin: 0;
    padding: 0;
}

.paralax{
    background: url("/asset/img/login_bg.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    z-index: 9999999;
}



/* img{
    width: 100%;
} */
.shadow{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(180deg, rgba(34, 40, 49, 0) 27.08%, #1B1717 88.54%);
}

.info{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info h1{
    color: #fff;
}

.info a{
    /* font-family: 'Dongle', sans-serif; */
    padding : 0 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Petemoss', cursive;
    font-size: 65px;
    color:#630000;
    background-color: #eeebddbd;
}
.judul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.atas{
    display: flex;
    justify-content: center;
}
.the{
    background-color: #1B1717;
    width: 100px;
    text-align: center;
}
.judul h2{
    font-size: 40px;
    color: #EEEBDD;
}

.garis{
    position: relative;
    z-index: -1;
    top:20px;
    width: 250px;
    height: 2px;
    background-color: #EEEBDD;
}

.slider{
    min-height: 80vh;
}

.swiper-container {
    width: 100%;
    padding-top: 90px;
    padding-bottom: 10px;
    transition: all 0.5s linear;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide img{
    display: block;
    width:100%;
}
